body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  lang
}

:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --title-text-color: #000000;
  --sec-text-color: #757575;
  --accent-color: #18a0fb;
  --primary-white-color: #ffffff;
  --main-btn-color: #ffffff;
  --second-btn-color: #303030;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.logo {
  font-family: "Raleway, san-serif";

  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #2196f3;
}
.web-blue {
  color: #18a0fb;
}
.web-white {
  color: white;
}
.web-black {
  color: black;
}

/* .logo:hover {
    color: var(--accent-color);
  } */

.list {
  list-style: none;
}
li {
  list-style: none;
}
.slogan {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}
.slogan-bgcolor {
  background-color: #2f303a;
}

.perevaga-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

.perevaga-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}

.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.hero-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.hero-about {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}
.site-nav .hero-link {
  color: var(--title-text-color);
}
.site-nav .hero-link:hover,
.site-nav .hero-link:focus {
  color: var(--accent-color);
}

.site-nav .link-current {
  color: var(--accent-color);
}

.hero-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.header-adress {
  color: var(--sec-text-color);
}
.header-adress .header-mail:hover,
.header-adress .header-mail:focus {
  color: var(--accent-color);
}

.header-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  /* color: #FFFFFF; */
  cursor: pointer;
  color: var(--primary-text-color);
}
.slogan-button {
  background-color: #2196f3;
  font-family: inherit;

  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.slogan-button:hover {
  background-color: #188ce8;
  color: #ffffff;
}

.header-btn:hover {
  background-color: var(--accent-color);
  color: var(--main-btn-color);
}
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(--sec-text-color);
}

.portfolio {
  font-family: "Roboto";
  font-style: normal;
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  /* identical to box height, or 188% */

  letter-spacing: 0.03em;

  color: var(--sec-text-color);
}
.adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.footer-adress-text {
  color: var(--primary-white-color);
  letter-spacing: 0.03em;
}
.footer-email {
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-background {
  background-color: var(--second-btn-color);
}
